# Lambda ,Map, Filter,& Recursion

#### Returning a Lambda from a Function

In [17]:
def multiply_test(num):
    return num*4
def returnFunc():
    test=4
    def multiply(num):
        return num*2
    return multiply
f_return=returnFunc()
print(returnFunc)
print(f_return(4))

#Lambda function return from a regular function
def returnLam(b,c):
    return lambda x,a: x+a+b+c
r_lamb=returnLam(4,5)
print(r_lamb(5,5))

<function returnFunc at 0x111ec82c0>
8
19

#### If Statements within Lambdas

In [18]:
#Lambda x: True if(condition) else False

f_condition=lambda num: num*2 if num>10 else num+2

print(f_condition(8))
print(f_condition(15))

10
30

## Map <br>

In [41]:
#map(function, iterable)
#an iterable is something you can loop over: such as list, dic, tuple, and string
# normally the usage of map happens with a pre defined function, but we can use lambadas as well 
def squared(num1, num2):
    if num1<10 and num2<10:
        return num1**2, num2**2
    else:
        return num1, num2
numbers=[4,11,20,3,15,20]
more_numbers=[4,10,3,2,6]
squared_num_map=list(map(squared, numbers, more_numbers))
print(squared_num_map)

[(16, 16), (11, 10), (400, 9), (9, 4), (225, 36)]

#### Using Lambda's with Map

In [43]:
squared_nums_lamb= list(map(lambda x,y: (x**2, y**2) if x<10 and y<10 else (x , y), numbers, more_numbers))
                        
print(squared_nums_lamb)

[(16, 16), (11, 10), (20, 3), (9, 4), (15, 6)]


<p>Using the map function to double each number and minus it by one in the list by using a lambda function</p>

In [66]:


numbers=[3,3,4,5]
double_minus=list(map(lambda x: (x*x)-1, numbers ))
print(double_minus)

[8, 8, 15, 24]

## Filter() <br>

In [92]:
#filter a name starts with "m"
names=['Bob', 'Andy', 'Max', "Evan", "Angelina"]

def a_names(name):
    if name[0].lower()=='m':
        return True
    else:
        return False
    
a_new_name=list(filter(a_names, names))
print(a_new_name)

['Max']

#### Using Lambda's with Filter()

In [93]:
new_names_lambda=list(filter(lambda name:True if name[0].lower()=='a' else False, names))
print(new_names_lambda)

['Andy', 'Angelina']


<p>Filter out all the numbers that are below the mean of the list.<br><b>

In [95]:
from statistics import mean
nums=[2,7,4,21,6,9,4,4,4,9]
mean_nums=mean(nums)
print (mean_nums)

below_mean=list(filter(lambda num: True if num<mean_nums else False, nums ))
print(below_mean)

7
[2, 4, 6, 4, 4, 4]

## Recursion <br>

#### Implementing a Base Case

In [103]:
def addNums(num):
# set abase to stop recursion from going forever
    if num<=1:
        print("addnum(1)=1")
        return num
    else:
        print(f"addNums({num})={num}+addNums({num-1})")
        return num+ addNums(num-1)
addNums(5)

addNums(5)=5+addNums(4)
addNums(4)=4+addNums(3)
addNums(3)=3+addNums(2)
addNums(2)=2+addNums(1)
addnum(1)=1

15

#### Writing a Factorial Function

In [107]:
#!5 is the mutiplication of 5 to 1

def factorial(num):
    if num<=1:
        return num
    else:
        return num*factorial(num-1)
    
factorial(5)

120


<p>Writing a recursive function that subtracts all numbers to the argument given.</p>

In [108]:
def subNums(num):
# set abase to stop recursion from going forever
    if num<=1:
        print("subNums(1)=1")
        return num
    else:
        print(f"subNums({num})={num}-subNums({num-1})")
        return num-subNums(num-1)
subNums(5)

subNums(5)=5-subNums(4)
subNums(4)=4-subNums(3)
subNums(3)=3-subNums(2)
subNums(2)=2-subNums(1)
subNums(1)=1

3


<p>Filtering out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [115]:
places = [" ","Argentina", " ", "San Diego",""," ","","Boston","New York"]
def removeQuat(place):        
    place = place.strip()  
    if(place == ""):    
        return False
    else:
        return True     
    
newPlaces = list(filter(removeQuat, places))   
print(newPlaces)

['Argentina', 'San Diego', 'Boston', 'New York']


<p>Write an anonymous function that sorts this list by the last name...<br><b>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [132]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]
author.sort(key = lambda name: name.split()[-1].lower())
print(author)

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']


<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]
`

In [133]:
# F = (9/5)*C + 32
places = [('Nashua',32),("Boston",12),("Los Angelos",44),("Miami",29)]
f_Temp = list(map(lambda x:  (x[0], (9/5) * x[1]+ 32), places))
print(f_Temp)

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angelos', 111.2), ('Miami', 84.2)]


<p>Write a recursion function to perform the fibonacci sequence up to the number passed in.</p>

`Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8`

In [160]:


def fibonacci(n):
    if n == 0 or n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

def fibonacci_print(n):
    for i in range(n+1):
        print(f"Iteration {(i)}: {fibonacci(i)}")

fibonacci_print(5)

Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8